*{
  margin: 0;
  padding: 0;
  border:0;
}
body {
  margin: 0 auto;
  background-color: black;
}
.animate__animated {
  text-align: center;
  padding: 40px;
  color: white;
}

.image-rows {
  display:flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  transition: all 500ms ease-in;
}
.row{
  display: flex;
  height: 30%;
  gap: 10px;
  /* opacity:0.3; */
  /* padding:2 5px; */
}
.one {
  display: flex;
  /* opacity:0.3; */
}
.two {
  display: flex;
  /* opacity:0.3; */
}
.three { 
  display: flex;
  /* opacity:0.3; */
}
img {
  height: 200px;
  margin-top: 20px;
  vertical-align:middle;
  width: 100%; 
}
img:hover {
cursor: pointer;
} 

/* row 1 */
.gallery-image1{
  flex: 2;

}
.gallery-image2{
  flex: 1;
}
.gallery-image3{
  flex: 2;
}
.gallery-image4{
  flex: 2;

}
.gallery-image5{
  flex: 1;
}
/* row 2 */
.gallery-image6{
  flex: 3;
}
.gallery-image7{
  flex: 2;
}
.gallery-image8{
  flex: 1;
}
.gallery-image9{
  flex: 3;
}

/* row 3 */
.gallery-image10{
  flex: 2;

}
.gallery-image11{
  flex: 1;

}
.gallery-image12{
  flex: 2;

}
.gallery-image13{
  flex: 2;

}
.gallery-image14{
  flex: 2;

}
.image-container {
  position: relative;

}
.caption {
  display: none;
  font-size: 12px;
  text-align: center;
}

.image-container:hover .caption {
  background-color: black;
  position: absolute;
  top: 0; 
  right: 0;
  left: 0;
  bottom: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: .9em;
  opacity:0.5;
}



/* @media screen and (min-width:900px){
  .image-container{
    display: flex;
    flex-direction: column;
    /* flex: 50%; */
    /* max-width: 50%; */
  /* }
  } */
